{% extends '@SymkaCoreBundle/Resource/views/site/layout.html.twig' %}

    {% block content %}
        <section id="home">
            <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="carousel-item active slides">
                        <div class="overlay"></div>
                        <div class="slide-1"></div>
                        <div class="hero ">
                            <hgroup class="wow fadeInUp">
                                <h1>We Help <span><a href="" class="typewrite" data-period="2000"
                                                     data-type='[ " Business", " Startup"]'>
                        <span class="wrap"></span></a></span></h1>
                                <h3>The next big idea is waiting for its next big changer</h3>
                            </hgroup>
                            <button class="btn btn-general btn-green wow fadeInUp" role="button">Contact Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}




