{% extends '@SymkaCoreBundle/Resource/views/admin/layout.html.twig' %}

    {% block content %}
        <div class="row" id="report1">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-block">
                        <div class="text-left report1-cont">
                            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i> $9,220</h2>
                            <span class="text-muted">Todays Income</span>
                        </div>
                        <span class="text-success">80%</span>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 80%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p><small>Last month 10% Growth</small></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-block">
                        <div class="text-left report1-cont">
                            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-danger"></i> $5,530</h2>
                            <span class="text-muted">Gross Profit</span>
                        </div>
                        <span class="text-danger">43%</span>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 43%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p><small>Last month 10% Growth</small></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-block">
                        <div class="text-left report1-cont">
                            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-warning"></i> $3,620</h2>
                            <span class="text-muted">Interest Expenses </span>
                        </div>
                        <span class="text-warning">53%</span>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 53%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p><small>Last month 10% Growth</small></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-block">
                        <div class="text-left report1-cont">
                            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-info"></i> $82,600</h2>
                            <span class="text-muted">Net Profit</span>
                        </div>
                        <span class="text-info">70%</span>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 70%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p><small>Last month 10% Growth</small></p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}







